doctype html

html(lang="en")
	head
		title 个人主页
		include ../common/style

	body
		.wrap
			include ../common/header
			include ../common/nav
			.content
				.hello-area
					p Hello ,
						span.visitor
					p.large I am called HenyuLee
					p.blessing Enjoy your time !
			include ../common/footer

	include ../common/script
	
