doctype html

html(lang=en)
	head
		title 用户注册
		include ../common/style
	body
		.login-area
			.login-title  用户注册
			.form-row
				label.label 用户名：
				input.input#username(placeholder="请输入用户名",type="text")
				.input-error-til  
			.form-row
				label.label 密 码：
				input.input#pwd(placeholder="请输入密码",type="password")
				.input-error-til 
			.form-row
				label.label 确认密码：
				input.input#pwd-sure(placeholder="请再次输入密码",type="password")
				.input-error-til 
			.form-row.center
				span.btn.btn-primary#submit 提交
				span.btn.btn-plain-primary#cancel 取消
				
	include ../common/script
	script(src="/js/page/register.js")