.header
	.logo
		h2 welcome
	.greet Thanks for your paying time!
	.map-area
		span.visitor
		ul.dropdown-menu.none
			li
				a(href='/user/resetPwd') 修改密码
			li
				a(href='/user/resetNickName') 修改昵称
		span#logout 退出 